
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../font/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../font/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bookman-Regular';
  src: url('../font/Bookman-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: Roboto-Regular;
  box-sizing: border-box;
}


body{
  background-color: #666666;
}

header{
  width: 100%;
  background-color: black;
}

p{
  margin-bottom: .5em;
}

input{
  margin-left: 1em;
}

.wrapper{
  background-color: #e7e7e7;
  display: flex;
  max-width: 960px;
  align-items: center;
  justify-content: center;
  padding-left: auto;
  padding-right: auto;
  margin-right: auto;
  margin-left: auto;
}
/* NAVBAR */

.header-content{
  display: flex;
  max-width: 960px;
  background-color: white;
  box-shadow: 
}

.header-logo{
  padding-left: 1em;
}
/* NAVIGATION BURGER + LIST */

.device-nav{
   display: none;
    margin: 0 auto;
    width: 100%;
    position: relative;
    color: black;
    text-align: center;
    height: 50px;
}

#check-menu{
  display: none;
}

.device-nav label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: black;
    transition: .5s all;
}

.second, .third{
    top: 18px;
}

.fourth{
    top: 28px;
}


#check-menu:checked ~ .main-menu{
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked ~ .first{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(45deg);
}

#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
    display: none;
}


/* !!!!!!!! */

ul{
  display: inline-flex;
  flex-direction: row;
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

li{
  position: relative;
}

li.dropdown:after{
  content: '>';
}

ul.navbar-menu-list li a{
  padding-top: 1em;
  margin-left: 1em;
}

ul li ul{
  background: white;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
}

ul li:hover > ul,
ul li ul:hover{
  display: block;
  visibility: visible;
  opacity: 1;

}

.dropdown-list__item{
  display: flex;
  border: 1px solid black;
}

.dropdown-list__item a{
  display: flex;
  text-align: center;
  justify-content: center;
}

.navbar-menu{
  padding-top: 2.5em;

}

/* HEADER-IMAGE */

h1{
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 5em;
  color: white;
  font-size: 30px;
}

.header-image{
  display: relative;
  height: 25em;
  width: 100%;
  background-color: black;
}

/* ABOUT SECTION */

.about-row{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 960px;
  background-color: #e7e7e7;
}

.about-row1{
  display: flex;
}

.about-row1_content1{
  padding: 1em 1em 0 1em;
}

.about-image{
  border-radius: 15px;
}

.about-row1_content2{
  padding: 1em 1em 0 1em;
}
.title-s{
  font-family: Roboto-Bold;
}

.about-row2{
  padding: 1em 1em 0 1em;
}

.about-row2_content1{
  margin-bottom: 2rem;
}

h5.about-title{
  font-size: 2rem;
  position: relative;
}

h5.about-title:before{
  content: '';
  position: absolute;
  height: 3px;
  background-color: black;
  width: 100px;
  bottom: -12px;
}

/* SERVICES */

.services-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  font-size: 35px;
  color: black;
  letter-spacing: 1px;
  padding-top: 1em;
}

.services-content{
 display: flex;
 flex-wrap: wrap;  
  width: 960px;
  background-color: #e7e7e7;
  justify-content: center;
}

.services-list__item{
  display: inline-block;
  flex-direction: column;
  text-align: center;
  min-width: 33%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 1em;
}

.services-list__item:hover{
  background: white;
  color: black;
  transition: all 0.8s ease;
  border-radius: 15px;
}

/* CONTACTS */

.contact-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #e7e7e7;
}

.contact-row1{
  padding: 1em;
}

.contact-row1-title{
  margin-bottom: 2rem;
}

.form-element{
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.button-block{
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.button{
  padding: 5px 10px;
    border: 1.5px solid black;
    transition: all 300ms ease;
}


.contact-row2{
  padding: 1em;
}

.contact-row2-title{
  margin-bottom: 2rem;
}

ul.contact-list{
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul.contact-list li{
  padding-top: .5em;
}

ul.contact-socials li{
  margin: 2em 0 1em .3em;
}

ul.contact-socials li {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border: 1px dashed black;
  border-radius: 50%;
  background: transparent;
}

ul.contact-socials a{
  display: flex;
}


.map{
    overflow:hidden;
    padding-bottom:15em;
    position:relative;
    height:0;
}
.map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* FOOTER */

.footer-content{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 1em;
   flex-wrap: wrap;  
}

.footer-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-family: Roboto-Regular;
}


.footer-link{
  padding-left: 5em;
}

ul.footer-link-list{
  margin: 0;
}

ul.footer-link-list li{
  padding: 1em 0 0 1em;
}

ul.footer-link-list li:first-child{
  padding-left: 0;
}

ul.footer-link-list li a{
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: .3em;
}
/* MEDIA */


@media only screen (max-width : 365px){
/* стили */
  .footer-content{
    flex-wrap: wrap;
  }

  .footer-link{
    padding-left: 0 !important;
  }
}

@media screen and (max-width:530px){
  .contact-row{
    display: flex;
    flex-wrap: wrap;
  }   
}

@media screen and (max-width: 720px){
  .device-nav{
    display: block;
  }
  #check-menu{
    display: block;
  }
}
