*{
	padding: 0;
}

body{
	background: #666666;
	color: #e7e7e7;

}


h1{
	font-size: 56px;
	text-align: center;
	text-shadow: 0 1px 0 #444, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black;
}

h1:before{
	font-family: u1f400;
	content: "\1F4F0";
	color: #33cc1e;
	text-shadow: none;
}

h1:hover{
	color: #34a4eb;
	transition: .7s ease;
}

h2{
	position: relative;
	color: #34a4eb;
	
}

h2:before{
	content: '';
    position: absolute;
    height: 3px;
    background-color: black;
    width: 70px;
    bottom: -12px;

}

footer{
	text-align: center;
}

article header{
	margin-left: 40%;
	max-width: 400px;
}


section{
	display: inline-flex;
    justify-content: center;
    flex-direction: column;
    max-width: 30%;
    width: 100%;
    padding-left: 15em;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	font-size: 20px;
	transition: .5s ease;
	color: #34a4eb;
}

ol{
	 counter-reset: myCounter; 
}

li{
	position: relative;
	list-style: none;
	margin-top: 1em;
}

li:before{
	text-align: center;
	content: counter(myCounter);
	counter-increment: myCounter;
	position: absolute;
	left: -30px;
	font-weight: bold;
    width: 1.3em;
    height: 1.3em;
	border-radius: 50%;
	background-color: #34a4eb;
	box-shadow: 0px 0px 6px 0px rgb(22, 31, 41); 
}

li:hover:before{
	color: black;
	background-color: #e7e7e7;
	transition: all .3s ease;
}

header{
	height: 175px;
}

nav {
	padding-top: 4em;
	display: inline-flex;
	flex-direction: column;
	max-width: 150px;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0;

}

nav ul {
    position: relative;
    width: 100%;
    right: 100%; 
    opacity: 0;
    color: #272822;
    transition: all .3s ease;
    overflow-y: scroll;
    max-height: 500px;
}

nav:hover ul{
	right: 0;
	opacity: 1;
}

nav ul li a:first-child {
    color: #e7e7e7;
    font-size: 16px;
    display: block;
}